.content{
  min-height: 100vh;
}
.table{
  margin-top: 80px;
}
/* #color11{
  height: 100px;
  background-color: grey;
}
#color12{
  height: 100px;
  background-color: orange;
}
#color13{
  height: 100px;
  background-color: pink;
}
#color14{
  height: 100px;
  background-color: teal;
}
#color15{
  height: 100px;
  background-color: black;
}
#color16{
  height: 100px;
  background-color: aqua;
}
#color15 .btn{
  color: #fff;
  outline: 0 !important;
  
} */
/* .btn:focus{
  outline: 0 !important;
} */