<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <div>
          <h2>Create New Status</h2>
        </div>
        <div>
          <i class="fa-solid fa-xmark" id="new_status_close_btn"></i>
        </div>
      </div>
      <div>
        <div>
          <input type="text" placeholder="Status Name">
        </div>
        <div >
          <span id="id_selected_color">
            None
          </span>
          <span class="badge  rounded-pill ms-2" id="clr_badge" 
            style="background-color: #fff;">&nbsp&nbsp&nbsp
          </span>
        </div>
        <div class="row">
          <div class="col-2" id="color11">
            <a href="" class="btn" onclick="return false">Grey</a>
          </div>
          <div class="col-2" id="color12">
            <a href="" class="btn" onclick="return false">Orange</a>
          </div>
          <div class="col-2" id="color13">
            <a href="" class="btn" onclick="return false">Pink</a>
          </div>
          <div class="col-2" id="color14">
            <a href="" class="btn" onclick="return false">Teal</a>
          </div>
          <div class="col-2" id="color15">
            <a href="" class="btn" onclick="return false">Black</a>
          </div>
          <div class="col-2" id="color16">
            <a href="" class="btn" onclick="return false">Aqua</a>
          </div>
        </div>
        <div>
          <div>
            <a href="" class="btn btn-sm btn-primary">Create</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>

  </div>
</div>