<div class="row" style="min-height: 100vh;">
  <div class="col-2"></div>
  <div class="col-8" id="new_taxk_form_content">
    <div class="d-flex justify-content-between">
      <div>
        <h4 class="mb-3">Create New Task</h4>
      </div>
      <div>
        <i class="fa-solid fa-rectangle-xmark fa-2x" id="cancel_newtask"></i>
      </div>
    </div>
    <div class="mb-3">
      <input type="text" name="title" class="form-control" placeholder="Task Name">
    </div>
    <div class="mb-3">
      <textarea name="desc" id="" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="mb-3">
      <select name="" id="">
        <option value="">Select Category</option>
        <option value="">Study</option>
        <option value="">Cycling</option>
        <option value="">Entertinement</option>
        <option value="">Hobby</option>
      </select>
    </div>
    <div class="mb-3">
      <input type="file">
    </div>
    <div class="mb-3">
      <input type="date" placeholder="Time to do task" class="form-control">
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <input type="submit" value="Create" class="btn btn-primary">
      </div>
      <!-- <div>
        <a class="btn btn-primary" id="cancel_newtask">
          Cancel
        </a>
      </div> -->
    </div>
  </div>
  <div class="col-2"></div>
</div>