{%extends 'base.html'%}
{%block body_block%}
  <div class="container">
    <div class="row" >
      <div class="col-2"></div>
      <div class="col-8" style="margin-top: 100px; margin-bottom: 80px;">
        <div class="card" style="width: 100%;">
          <img src="https://learndjango.com/static/images/social-default-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Learn Django</h5>
            <p class="card-text">Category</p>
            <p class="card-text">Description</p>
            <p class="card-text">Status</p>
            <p class="card-text">time to do task</p>
            <div class="d-flex justify-content-between" style="width: 100%;">
              <div>
                <select name="" id="">
                  <option value="">Change Status</option>
                  <option value="">Cancelled</option>
                  <option value="">Partially Completed</option>
                  <option value="">Completed</option>
                  <option value="">Pending</option>
                </select>
    
              </div>
              <div>
                <a href="" class="btn btn-sm btn-primary">Submit</a>
              </div>
            </div>
            

          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
{%endblock%}